
<h2 class="mb-3">Your Dashboard</h2>

{{!-- for each of the posts --}}
<div class="card">
    <h4 class="card-header">Post Title
        <span class="post_header p-1">Posted by
            <span class="post_author">Author</span>
            on
            <span class="post_date">05/08/2021</span>
        </span>
    </h4>
    <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>
{{!-- end of for each --}}