<form class="signup-form card border border-secondary rounded p-2 col-md-6 m-auto">
    <h4 class="card-header bg-white">Signup Form</h4>
    <div class="card-body">
        <div class="form-group col-auto">
            <label for="signup-first-name">First Name 
                <span class="text-danger font-weight-bold d-none">*</span>
            </label>
            <input type="input" class="form-control" id="signup-first-name" placeholder="Jane">
        </div>
        <div class="form-group col-auto">
            <label for="signup-last-name">Last Name
                <span class="text-danger font-weight-bold d-none">*</span>
            </label>
            <input type="input" class="form-control" id="signup-last-name" placeholder="Doe">
        </div>
        <div class="form-group col-auto">
            <label for="signup-email">Email
                <span class="text-danger font-weight-bold  d-none">*</span>
            </label>
            <input type="email" class="form-control" id="signup-email" placeholder="janedoe@email.com">
        </div>
        <div class="form-group col-auto">
            <label for="signup-password">Password
                <span class="text-danger font-weight-bold d-none">*</span>
            </label>
            <input type="password" class="form-control" id="signup-password" placeholder="password">
        </div>
        <p id="signup-alert"class="form-group col-auto text-danger d-none">Alert message HERE!!!</p>
        <div class="form-group position-relative p-3 mb-2">
            <button type="submit" class="btn btn-primary btn-centered">Signup</button>
        </div>
    </div>
</form>

<script src=".\js\signup.js"></script>