/* Main */
#brand {
    border-bottom: 5px solid black;
    background: rgb(49,50,50);
    background: linear-gradient(54deg, rgba(49,50,50,1) 3%, rgba(255,255,255,1) 98%);
    color:white;
    text-shadow: 2px 2px black;
}

/* Post */
.post_header {
    float: right;
    font-size: 75%;
}

/* Dashboard */
#dashboard-add-btn{
    position: absolute;
    right: 1.5%;
}

.edit-btn, .view-btn, .comment-btn{
    float: right;
}


/* Signup CSS */
.btn-centered{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}